<?xml version="1.0" encoding="UTF-8"?>
<events xmlns="https://doc.quiqqer.com/xml/quiqqer-quiqqer-events.xsd">
    <event on="onGetPhpMailerInitStart" fire="\QUI\MultiMailer\EventHandler::onGetPhpMailerInitStart"/>
    <event on="onMailSendError" fire="\QUI\MultiMailer\EventHandler::onMailSendError"/>
    <event on="onMailQueueSendError" fire="\QUI\MultiMailer\EventHandler::onMailQueueSendError"/>
</events>