includes:
	- phpstan-baseline.neon

parameters:
    level: 8
    phpVersion:
        min: 80200 # 8.2.0
        max: 80509 # 8.5.9
    paths:
        - src
        - ajax
    tipsOfTheDay: false
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
